@tailwind base;
@tailwind components;
@tailwind utilities;

#sidebar-menu {
  height: 100%;
  animation: slideIn .50s ease-in-out;
  animation-fill-mode: both;
  transform: rotate(10);
}

#sidebar-menu > ul > li {
  font-size: 1rem;
}

#sidebar-menu > ul > li > span > span > svg {
  fill : rgb(160, 198, 254);
  width: 1.25rem;
  height: 1.25rem;
  margin-right: .75rem;
  margin-left: .25rem;
}

#sidebar-menu > ul > li > span {
  padding: 1vh;
  @apply rounded-full;
  cursor: pointer;
}

