@tailwind base;
@tailwind components;
@tailwind utilities;


/* Login Screen */
@keyframes fadeIn {
  0% { opacity: 0; }
  10% {opacity: .25; }
  100% { opacity: .75; }
}

/* SideBar */
@keyframes slideOut {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
@keyframes slideIn {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}

/* SideBar Background */
@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; display: none; }
}

/* Sidebar Logo */
@keyframes rollUp {
  0% { clip-path: circle(100%); }
  100% {
    @apply object-center object-cover -top-6 -left-9 min-h-0 size-24;
    clip-path: circle(31%);
    object-fit: cover;
    transform: rotate(30deg);
  }
}
@keyframes rollOut {
  0% {
    @apply object-center object-cover -top-6 -left-9 min-h-0 size-24;
    clip-path: circle(31%);
    object-fit: cover;
    transform: rotate(30deg);
  }
  100% { clip-path: circle(100%); }
}

/* Content */
@keyframes shrinkMarginLeft {
  100% { margin-left: 0%; }
}
@keyframes expandMarginLeft {
  0% { margin-left: 0%; }
}


